@import url('https://fonts.googleapis.com/css2?family=Abel&family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

/* Tones of Blue:

navy
darkSlateBlue
midnightBlue
blue
royalBlue
mediumBlue
dodgerBlue
deepSkyBlue
lightSkyBlue
lightBlue
*/

/* Tones of Orange: 

indianRed
orangeRed
tomato
darkOrange
orange
coral
lightCoral
darkSalmon
lightSalmon
navajoWhite
*/

h1, h2, h3, h4, h5 {
  margin: 0;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.titleFont {
  /* font-family: 'Bebas Neue', cursive; */
  font-family: 'DM Serif Display', serif;
  font-size: 40px;
}

.subtitleFont {
  font-family: 'Share', cursive;
}

.h3Font {
  font-family: 'Abel', sans-serif;
}

.displayFlexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}