@import url('https://fonts.googleapis.com/css2?family=Abel&family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

/* Tones of Blue:

navy
darkSlateBlue
midnightBlue
blue
royalBlue
mediumBlue
dodgerBlue
deepSkyBlue
lightSkyBlue
lightBlue
*/

/* Tones of Orange: 

indianRed
orangeRed
tomato
darkOrange
orange
coral
lightCoral
darkSalmon
lightSalmon
navajoWhite
*/

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

bold {
  font-weight: 800;
}

.titleFont {
  /* font-family: 'Bebas Neue', cursive; */
  font-family: 'DM Serif Display', serif;
  font-size: 40px;
}

.subtitleFont {
  font-family: 'Share', cursive;
}

.h3Font {
  font-family: 'Abel', sans-serif;
}

.displayFlexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.largeSeparator {
  border: 1px solid gainsboro;
  margin: 40px 0px 40px 0px;
  width: 80%;
}


.titleMenuContainer {
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.linkButton {
  /* height: 40px;
  width: 160px; */
  width: max-content;
  height: max-content;
  padding: 10px 60px 10px 60px;
  border-radius: 4px;
  background-color: dodgerblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkButton:hover {
  background-color: #3a9bfc;
}

.marginTop {
  margin-top: 40px;
}

.paddingBottom {
  padding-bottom: 40px;
}

.border {
  border-radius: 10px;
  border: 2px solid lightblue;
}

.opacity {
  backdrop-filter: grayscale(0.5) opacity(0.8);
}

.smooth {
  backdrop-filter: blur(4px);
}

input, select, option, textarea {
  text-decoration: none;
  outline: none;
  font-family: 'Abel', sans-serif;
  font-size: 16px;
  border: 1px solid mediumblue;
  border-radius: 3px;
  min-width: 180px;
}

.submitButton {
  width: 180px;
  margin-bottom: 40px;
  margin-top: 40px;
  background-color: dodgerblue;
  color: white;
  font-size: 26px;
  border: 2px solid mediumblue;
}

.submitButton:hover {
  background-color: white;
  color: dodgerblue;
} 

.subtitles {
  text-shadow: 2px 2px 2px white;
  text-decoration: black;
  text-decoration-line: underline;
}