#prescriptions h1 {
    /* background-color: lightcyan; */  
    padding-top: 30px;  
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-size: 46px;
    text-shadow: 3px 3px 3px midnightblue;
}